<h1 class="title">About</h1>
<p>
As students and avid readers, the creators of Bookly have amassed quite a collection of books over the years but found it difficult when trying to resell these. As they looked around one day they noticed their bookshelves overflowing with wonderful books of all kinds. Books they had once enjoyed but that now, sadly, sat gathering dust. They were sure others too would have amazing collections of books to share. Those fantastic books deserved to find a new home where their words would be read and enjoyed again.
<br>And so they created Bookly - your one stop shop for book exchange.
<br>Please sign up, browse, buy, enjoy and sell.
<br>Happy reading!
</p>
<br>
<%= image_tag("startup-594091_640.jpg", :class => "imgCard")%>
<br>
<footer>
    <p><small>Copyright &copy; 2019 Jack Gronow, Tony Huynh & Natalie Sargent</small></p>
</footer>