<h1 class="title">About</h1>
<p>
As students and avid readers, the creators of <strong>Bookly</strong> have amassed quite a collection of books. As they looked around one day, they noticed their bookshelves overflowing with wonderful books of all kinds. Books they had once enjoyed but now, sadly, sat gathering dust. They were sure others too would have amazing collections of books to share. All those fantastic books deserved to find a new home where their words would be read and enjoyed again.
<br>And so, <strong>Bookly</strong> came to be <em>your one stop shop for book exchange</em>! Please sign up, browse, buy, enjoy and sell.
<br>From the team at <strong>Bookly</strong> ... Happy Reading!
</p>
<br>
<%= image_tag("startup-594091_640.jpg", :class => "imgCard")%>
<br>
<footer>
    <p><small>&copy; Copyright Jack Gronow, Tony Huynh & Natalie Sargent 2019</small></p>
</footer>
