<h1 class="title">Thank you <%= current_user.firstname.capitalize %></h1>
<br>
<h3 class="subtitle">Your order was successful.</h3>

<p><%= link_to("Continue Shopping", adverts_path, :class => "button is-primary")%></p>