<h1 class="title">Book Store</h1>
<p class="subtitle">Select a Book to Purchase</p>

<table class="table is-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Condition</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <% if @adverts %>
            <% @adverts.each do |advert| %>
                <tr>
                    <td><%= link_to advert.book.title, advert_path(advert.id)%></td>
                    <td><%= advert.condition %></td>
                    <td><%= number_to_currency advert.price %></td>
                </tr>
            <%end%>
        <%end%> 
    </tbody>
</table>

<p><%= link_to("Back", exchange_index_path, :class => "button")%></p>