@import 'bulma/bulma';

// Text highlighting effect
.highlight {
    background-color: #fff2ac;
    background-image: linear-gradient(to right, #ffe359 0%, #fff2ac 100%);
}

// Background image
html {
    background: image_url('background.jpg');
}

.transparent {
    background-color: transparent
}